# Server Configuration
PORT=<your_server_port>
NODE_ENV=<development_or_production>

# Database Configuration
DB_USER=<your_db_user>
DB_PASSWORD=<your_db_password>
DB_NAME=<your_db_name>
DB_PORT=<your_db_port>

# Database URL
DATABASE_URL="postgresql://<DB_USER>:<DB_PASSWORD>@localhost:<DB_PORT>/<DB_NAME>?schema=public"

# Authentication
JWT_SECRET=<your_jwt_secret>
JWT_EXPIRES_IN=<token_expiration_time>
JWT_REFRESH_EXPIRES_IN=<refresh_token_expiration_time>
